  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9;
  }
  
  .login-card {
    display: flex;
    background-color: #f1f8e9;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.06);
    width: 800px;
    overflow: hidden;
  }
  
  .login-left, .login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    color: #558b2f;
  }
  
  .login-subtitle {
    color: #6cb342;
    margin-bottom: 20px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
  .form-control {
    padding-left: 35px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #ffffff;
  }
  
  .login-btn {
    background-color: #558b2f;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  .register-btn{
    background-color: #558b2f;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .login-right {
    text-align: center;
    background-color: #f1f8e9;
  }
  
  .logo {
    width: 100px;
    margin: 0 auto 10px;
  }
  
  .brand-text {
    font-size: 2rem;
    font-weight: bold;
    color: #2e4a23;
  }
  